{% extends "base.html"%}
{% load static %}
{% block body_content %}
{% load crispy_forms_tags %}


<style>
    .avatar {
        vertical-align: middle;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    #fh1 {
        margin-top: 20px;
    }

    #sub-nav {
        display: flex;
        justify-content: space-around;
    }

    #logout-btn {
        background-color: rgb(50, 122, 255);
    }

    #fh3 {
        text-align: center;
        font-size: 30px;
        padding-top: 20px;
        text-align: left;
    }

    @media screen and (max-width: 600px) {
        #fh3 {
            font-size: 17px;
            text-align: left;
        }
    }

    #fh6 {
        text-align: left;
        font-size: 15px;
        /* padding-top: 20px; */
        padding-bottom: 20px;
        font-weight: normal;
    }

    @media screen and (max-width: 600px) {
        #fh6 {
            font-size: 15px;
            text-align: left;
            font-weight: normal;
        }
    }

    #fh5 {
        display: flex;
        justify-content: space-around;
        text-align: left;
        font-size: 13px;
        padding-top: 3px;
        width: 90px;
        color: rgb(223, 223, 223);
        height: 20px;
        font-weight: normal;
        background-color: rgb(158, 158, 158);
        border-radius: 20px;
        /* padding-top: 20px; */
        /* background-color: blue; */
    }

    @media screen and (max-width: 600px) {
        #fh5 {
            font-size: 10px;
        }
    }

</style>
</head>
<br>

<body>
    <div class="container">
        <div id="sub-nav">
        </div>
        <div class="list-question">
            <div class="questions">
                <div class="card w-80 mt-5 m-5 ">

                    <div class="card-body m-5">
                        <div class="container"
                            style="background-color: rgba(183, 187, 201, 0.808); padding: 5px; box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px; border-radius: 10px;">

                            <h3 id="fh3">{{questions.name}}</h3>
                            <h6 id="fh6">{{ questions.description|safe }}</h6>
                        </div>
                        <br>
                        <div class="answer">


                            {% if not questions.answer_set.all %}
                            <small>No Answers yet... </small>
                            {% else %}
                            {% for comment in questions.answer_set.all %}
                            <div class="w-100 mt-5  "
                                style="background-color: rgba(183, 187, 201, 0.808); padding: 5px; box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px; border-radius: 10px;">
                                <div class="card-body">
                                    <div class="answer">
                                        <img class="avatar" style="float:right;" src="{{comment.created_by.image.url}}">
                                        <h3>Answer:</h3>
                                        <h2 style="font-weight: normal; font-size: 15px; text-align: justify; color:blue; ">
                                            {{comment.name|safe}}
                                        </h2>
                                    </div>
                                    <hr>
                                    <h5>Reply:</h5>
                                    
                                    {% for i in comment.reply_set.all %}
                                    <div class="reply m-4 mb-5">
                                        <h2 style="margin-left:3%; font-size: 15px; font-weight: normal; text-align: justify; color:blue; "> {{i.name}}</h2>
                                 
                                            <h3  style="font-size: 10px; float:right;"><i><a href="">{{i.created_by}}</a> -
                                            On:
                                            {{i.created_at|timesince}}</i> </h3>
                                    </div>
                                    
                                    <hr>
                                    {% endfor %}

                                    <a href="{% url 'stack:reply' comment.id %}"
                                        style="font-size: x-small; text-decoration: none; float: right;">Reply</a>
                                    <h3 style="font-size: 10px;">Answered by: <i><a href="">{{comment.created_by}}</a> -
                                            On:
                                            {{comment.created_at|timesince}}</i> </h3>
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <button type="submit " style="border:none;background:none; float: left; color: blue;"
                                            name="Like">
                                            <i style="font-size: small;"
                                                class="fa-solid fa-thumbs-up"></i>&nbsp;<small>{{comment.upvote}}</small>
                                        </button>
                                        &nbsp; &nbsp;
                                        <button type="submit" style="border:none;background:none; color: blue;"
                                            name="dislike"><i style="font-size: small;"
                                                class="fa-solid fa-thumbs-down"></i>&nbsp;<small>{{comment.downvote}}</small></button>
                                        <input type='' value='{{ comment.id }}' name='answer' hidden />
                                    </form>
                                </div>
                            </div>
                            <hr>

                            {% endfor %}
                            {% endif %}




                            <div class="w-75 m-5">
                                <p>Add Comment</p>
                                <form action="" class="signin-form" method="post" enctype="multipart/form-data">

                                    {% csrf_token %}
                                    Answer:<br>{{ form.name }}
                                    <br>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

    </div>

    {% endblock %}
